.item{
    width: 306px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.title{
    font-size: 16px;
    color: rgba(26, 26, 26, 1);
    font-weight: 600;
}
.subTitle{
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}
.title, .subTitle{
    cursor: default;
}