.container{
    Width: 423px;
    Height: 288px;
    border-radius: 10px;
    margin-top: 24px;
    cursor: pointer;

    background-color: rgba(0, 38, 3, 0.8);
    background-image: url('./images/leaves.jpg');
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bestDeal{
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.h1{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
.shopNow{
    color: rgba(0, 178, 7, 1);
    font-size: 16px;
    font-weight: 700;
}